.btn {
    display: inline-block;
    border-radius: 50px;
    padding: 11px 31px 12px;
    cursor: pointer;
    color: $navFontColor;
    font-size: $xsFontSize;
    font-weight: bold;
    border: 0;
    outline: none;
    &-simple {
      background-color: $btnSimpleTop;
      @include gradient($btnSimpleTop, $btnSimpleBottom);
    }
    &-s {
      padding: 5px 10px 5px;
    }
    &-nofill {
      background-color: transparent;
      border: 1px solid $labelFontColor;
      font-size: 12px;
      color: $labelFontColor;
    }
}
